<ion-view title="사진 + 장소">
	<ion-header-bar class="bar-positive" align-title="center">
		<!-- <button class="button button-icon button-clear ion-close" ng-click="saveSecond.closeSaveDlg()"></button> -->
	  <h1 class="title">이제 공유하세요!</h1>
	  <button class="button button-clear" ng-click="saveSecond.goHome()">닫기</button>
	</ion-header-bar>
	<ion-content scroll="true" style="text-align:left">
		<div class="row">
			<div class="col">
				<p>
					{{saveSecond.place.userPost.notes[0].content}}
				</p>
			</div>
		</div>
		<div style="width:{{saveSecond.calculatedHeight+5}}px;height:{{saveSecond.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;margin-right:-4px;">
			<!-- <img ng-style="{height:saveSecond.calculatedHeight}" src="img/add_photo.svg" ng-click="saveSecond.addAttatchedImage()"> -->
      <img style="height:{{saveSecond.calculatedHeight}}px;" src="img/add_photo.svg" ng-click="saveSecond.addAttatchedImage()">
		</div>
    <div ng-repeat="image in saveSecond.attatchedImages track by $index" style="width:{{saveSecond.calculatedHeight+5}}px;height:{{saveSecond.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
			<img style="height:{{saveSecond.calculatedHeight}}px;" ng-src="{{image}}" on-hold="saveSecond.deleteAttatchedImage($index)">
		</div>

		<div class="row">
			<div class="col place-tags-container">
				<span class="place-item-tag-large" ng-repeat="tag in saveSecond.tags track by $index">{{tag}}&nbsp;</span>
			</div>
		</div>
	</ion-content>
</ion-view>
