<ion-view title="사진 + 장소">
	<ion-header-bar class="bar-positive" align-title="center">
		<!-- <button class="button button-icon button-clear ion-close" ng-click="saveSecond.closeSaveDlg()"></button> -->
	  <h1 class="title">이제 공유하세요!</h1>
	  <button class="button button-clear" ng-click="saveSecond.goHome()">닫기</button>
	</ion-header-bar>
	<ion-content scroll="true" style="text-align:left">
		<div class="list">
			<div class="item">
				<!-- <p> -->
					{{saveSecond.post.desc}}
				<!-- </p> -->
			</div>
			<div class="item">
				<div class="list card">
				  <div class="item item-image">
				    <img src="{{saveSecond.post.placePost.images[0].summary}}">
				  </div>
				  <a class="item item-icon-left assertive" href="#">
				    <i class="icon ion-ios-location-outline"></i>
				    {{saveSecond.post.name}}&nbsp;<small>{{saveSecond.post.addrs[0]}}</small>
				  </a>
				</div>
			</div>
			<div class="item item-divider">
				클립보드에 링크가 복사 되었습니다. 자유롭게 공유하세요.
			</div>
			<div class="item">
				<div class="card">
				  <div class="item item-text-wrap">
				    {{saveSecond.shorten_url}}
				  </div>
				</div>
			</div>
			<div class="item item-divider">
				바로 공유할 수 있습니다
			</div>
			<div class="item">
				Not Implemented Yet
			</div>
		</div>

		<div class="row">
			<div class="col place-tags-container">
				<span class="place-item-tag-large" ng-repeat="tag in saveSecond.tags track by $index">{{tag}}&nbsp;</span>
			</div>
		</div>
	</ion-content>
</ion-view>
