<ion-view title="사진 + 장소">
	<ion-header-bar class="bar-positive" align-title="center">
		<button class="button button-icon icon-left button-clear ion-ios-arrow-left" ng-click="saveFirst.goBack()">이전</button>
	  <h1 class="title">사진 + 장소</h1>
	  <button class="button button-icon icon-right button-clear ion-ios-arrow-right" ng-click="saveFirst.goNext()">다음</button>
	</ion-header-bar>
	<ion-content scroll="true" style="text-align:left">
		<!-- 장소명 입력 폼 -->
		<div class="row">
			<div class="col">
				<div class="list">
		      <a class="button button-stable button-full icon-left ion-ios-location" location-suggestion location="saveFirst.location" style="height:32px;text-align:left;">
						<strong>{{saveFirst.location.name || saveFirst.placeholderTitle}}</strong>
						<small>{{saveFirst.location.formatted_address || saveFirst.placeholderSubTitle}}</small>
					</a>
		    </div>
			</div>
		</div>

		<!-- 지도 영역 -->
		<div id="map" data-tap-disabled="true" style="margin:0px 5px 15px 5px;"></div>

		<div style="width:{{saveFirst.calculatedHeight+5}}px;height:{{saveFirst.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;margin-right:-4px;">
			<img style="height:{{saveFirst.calculatedHeight}}px;" src="img/add_photo.svg" ng-click="saveFirst.addAttatchedImage()">
		</div>
    <div ng-repeat="image in saveFirst.attatchedImages track by $index" style="width:{{saveFirst.calculatedHeight+5}}px;height:{{saveFirst.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
			<img style="height:{{saveFirst.calculatedHeight}}px;" ng-src="{{image}}" on-hold="saveFirst.deleteAttatchedImage($index)">
		</div>
		<input type="file" file-model="saveFirst.browserFile" ng-show="saveFirst.showFileForm()">

		<!-- 노트 영역 -->
		<div class="row">
			<div class="col">
				<label class="item item-input">
			    <input type="text" placeholder="이 사진과 장소에 대해 이야기해 주세요." ng-model="saveFirst.note">
			  </label>
			</div>
		</div>

		<!-- 태그 영역 -->
		<!-- <div class="row">
			<div class="col place-tags-container">
				<span class="place-item-tag-large" ng-repeat="tag in saveFirst.tags track by $index">{{tag}}&nbsp;</span>
			</div>
		</div> -->
	</ion-content>
  <ion-footer-bar class="bar-positive">
    <small>다음을 누르면 이용약관, 개인정보보호방침, 위치기반서비스약관에 동의하게 됩니다.</small>
  </ion-footer-bar>
	<!-- <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <div id="container" class="list list-inset">
      <label id="rounded" class="item item-input chat-input">
        <img src="http://image005.flaticon.com/1/png/512/1/1533.png" height="20px">&nbsp;&nbsp;
        <input type="text" placeholder="태그를 입력하세요" ng-focus="scrollTop()" ng-keydown="saveFirst.processTags($event)" ng-model="saveFirst.tag">
      </label>
    </div>
  </ion-footer-bar> -->
</ion-view>
